## EXPIRES CACHING ##
ExpiresActive On
ExpiresByType img/photos/jpg "access 1 month"
ExpiresByType img/photos/jpeg "access 1 month"
ExpiresByType img/photos/gif "access 1 month"
ExpiresByType img/photos/png "access 1 month"
ExpiresByType img/photos/JPG "access 1 month"
ExpiresDefault "access plus 1 month"
## EXPIRES CACHING ##

ErrorDocument 404 http://mecanismo.mx/proyectos/HomeBranding/info/404page.html
ErrorDocument 403 http://mecanismo.mx/proyectos/HomeBranding/info/404page.html
